/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";



 body, html {
 	height: 100%;
 }

 body {

 }

 header.header_top.row {
 	margin:0;
 }

 .page_content {
 	position: relative;
 	height: 100%;
 	min-height: 100%;
 	height: auto !important;
 	z-index: 1;
 }

 .top_header_left {
 	position: absolute;
 	top:20px;
 	left: 0;
 	z-index: 100;
 	ul {
 		padding: 0;
 		margin:0;
 		font-size: 0;
 		li {
 			display: inline-block;
 			vertical-align: top;
 			a {
 				background-color: rgba(249, 249, 249, 0.67);
 				padding: 12px 20px;
 				border-radius: 5px;
 				color: #461c1c;
 				font: normal 16px 'RobotoRegular';
 				cursor: pointer;
 				margin-left: 20px;
 				border: 1px solid #ccc;
 				display: block;
 			}
 		}
 	}
 }



 header.header_top {
 	position: relative;
 	z-index: 2;
 	padding: 20px 40px 0 0;
 	ul.header-right-menu {
 		float: right;
 		li {
 			display: inline-block;
 			vertical-align: top;
 			a {
 				display: block;
 				background-color: rgba(249, 249, 249, 0.67);
 				padding: 12px 20px;
 				border-radius: 5px;
 				color: #461c1c;
 				font: normal 16px 'RobotoRegular';
 				cursor: pointer;
 				margin-left: 20px;
 				border: 1px solid #ccc;
 			}
 		}
 	}
 }

 body.searches  {
 	.fx_bg_inners {
 		z-index: -1;
 		position: absolute;
 		top:0;
 		right: 0;
 		left: 0;
 		bottom: 0;
 		background: url(fx_bg.jpg) no-repeat center center fixed; 
 		-webkit-background-size: cover;
 		-moz-background-size: cover;
 		-o-background-size: cover;
 		background-size: cover;
 	}
 }

 .search_page_show {
 	margin: 7% 0 0 0;
 	color: #fff;
 	background: rgba(245, 244, 243, 0.15);
 	padding: 20px 40px 40px 40px;
 	min-height: 300px;
 	border-radius:5px;
 	h1 {
 		font-family: 'RobotoRegular';
 	}
 	ul.nav_find_search_results {
 		padding-top: 20px;
 		li {
 			a {
 				color: #fff;
 				font-size: 2rem;
 				font-family: 'RobotoRegular';
 			}
 		}
 	}
 }




 


