 @font-face {
 	font-family: 'RobotoRegular';
 	src: url('fonts/roboto-regular.eot');
 	src: url('fonts/roboto-regular.eot') format('embedded-opentype'),
 	url('fonts/roboto-regular.woff') format('woff'),
 	url('fonts/roboto-regular.ttf') format('truetype'),
 	url('fonts/roboto-regular.svg#RobotoRegular') format('svg');
 }


 @font-face {
 	font-family: 'MarckScript-Regular';
 	src: url('fonts/MarckScript-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/MarckScript-Regular.woff') format('woff'), url('fonts/MarckScript-Regular.ttf')  format('truetype'), url('fonts/MarckScript-Regular.svg#MarckScript-Regular') format('svg');
 	font-weight: normal;
 	font-style: normal;
 }