
@import "fonts.scss";





.page_recipes {
	position: relative;
	height: 100%;
	min-height: 100%;
	height: auto !important;
	h1 {
		color: #fff;
	}
	.center_main {
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border-radius:5px;
		padding: 1% 2%;
	}
}

main.add_recipe_section {
	display: block;
	min-height: 400px;
	background: rgba(245, 244, 243, 0.15);
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	padding: 20px 30px;
	margin-top: 7%;
	border-radius:5px;
	font-family: 'RobotoRegular';
	label {
		margin: 5px 0;
	}
	a {
		color: #fff;
	}
}


.btn-bm {
	margin: 20px 0; 
}


body.new.recipes {
	.recipe_fx_bg {
		position: absolute;
		top:0;
		right: 0;
		left: 0;
		bottom: 0;
		background: url(add_recipe.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

body.index.recipes {
	.recipe_fx_bg {
		position: absolute;
		top:0;
		right: 0;
		left: 0;
		bottom: 0;
		background: url(recipes.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

body.show.recipes{
	.recipe_fx_bg {
		position: absolute;
		top:0;
		right: 0;
		left: 0;
		bottom: 0;
		background: url(recipe_show.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}


.new_recipe {
	color:#fff;
}



.recipe_wrapper {
	position: relative;
	.recipe_title {
		padding: 20px;
		background: rgba(245, 244, 243, 0.15);
		margin-bottom: 20px;
		border-radius:0 0 5px 5px;
		font-family: 'RobotoRegular';
		font-size: 1.7rem;
		color: #fff;
	}
}

.recipe_content {
	padding: 25px 25px;
	margin: 0 auto;
	max-width: 1280px;
	position: relative;
	background: rgba(245, 244, 243, 0.15);
	margin: 7% auto 0;
}



.recipe_pic {
	max-width: 100%;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
	}
}

.recipe_title {

}

.recipe_show  {
	font-family: 'RobotoRegular';
	color: #fff;
	font-size: 2rem;
}

